/* bind the toolbar as the window's draggable region */
.navbar {
  -webkit-app-region: drag;
}

.nav-menu {
  margin-top: 6px;
}

.nav-menu > ul > li:first-child {
  display: none;
}

.nav-logo {
  margin-top: 14px;
  margin-left: -10px;
  width: 55px;
}

@media (min-width: 680px) {
  .nav-logo{
    width: 55px !important;
    overflow: hidden !important;
  }
}

.posts-filters ul {
  padding-left: 20px;
}
